@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
}


nav{
    position: sticky;
    top:0%;
    left: 0;
    width: 100%;
    background-color: white;
    display: block;
    z-index: 1;
}

#nav-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#nav-right{
    display: none;
    flex-direction: row;
    column-gap: 5rem;
    /* justify-content: space-between; */
    /* align-content: space-between; */
}

#nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
    padding-left:6rem ;
}

.nav-icon{
    color: #FF6961;
}



#nav-text{
    font-size: 2.5rem;
    color: #FF6961;
    line-height: 1;
    padding-left: 6px;
}

.nav-item{
    /* margin: 0 6rem; */
    /* padding-bottom: 10px; */
    font-weight: 500;    
}

#nav-block{
    position: absolute;
    right: 5%;
    background-color: #ff5d55;
    padding: 20px;
    min-width: 20%;
    z-index: 1;
}

.hidden{
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transform: translate(20px);
}

.unhidden{
    opacity: 1;
    transition: opacity 300ms ease-in-out,transform 300ms ease-in-out;
}

#nav-block a{
    display: block;
    font-size: 2.5rem;
    color: whitesmoke;
}

a:link,a:visited{
    color: black;
    text-decoration: none;
}

a:hover,a:active{
    color: #FF6961;
}


.hero-box{
    display: grid;
    grid-template-columns: .75fr 1fr;
}

.hero-image{
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    padding-left: 10vw;
    padding-top: 6vw;
    margin-right: -20vw;
}

.red-text{
    color:#FF6961;
    font-size: inherit;
}



#get-started
{
    background-color: #FF6961;
    border: 0;
    border-radius: 20px;
    padding: 1.5vw 4vw;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    cursor:pointer;
}

#get-started:hover{
    color: #FF6961;
    background-color: whitesmoke;
}


h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 300;
    margin-top: 29%;
    margin-left: 22%;
}


hr{
    width: 80%;
    margin:auto;
}

.product-features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin:auto;
    margin-top: 2vw;
    row-gap: 5rem;
    column-gap: 4rem;
}

#caption-text-responsive{
    display: none;
}




.card{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(176deg, #FF6961, #ff5d55);
    width: auto;
    min-width: 15rem;
    border-radius: 50px 50px 50px 50px;
    /* margin: 5vw; */
    /* margin-bottom: 0; */
    padding: 20px;
    /* padding-bottom: 0; */
    min-height: 35rem;
    max-height: 360px;
    opacity: 100%;
    /* box-shadow: 2px -4px 2px 2px black; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;

}



.card-icon{
    color: white;
    align-self:center;
    padding-top: 50px;
    font-size: 6rem;
    transition:font-size .5s, transform 3s;
    cursor: default;
}

.card-icon:hover{
    font-size: 8rem;
    cursor: default;
    transform: rotate3d(0,1,0,180deg);


}



.card-title{
    color: whitesmoke;
    align-self: center;
    margin: unset;
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}

.card-text{
    font-size:1rem;
    color: whitesmoke ;
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    align-self: center;
    padding: 20px;
    text-align: justify;
    /* display: none; */
}

footer{
    background-color: #FF6961;
    width: 100%;
    /* min-height: 17rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.footer-text{
    font-family: monospace;
    color: whitesmoke;
    font-size: 13px;
    text-align: left;
    line-height: 2rem;
    /* justify-content: left; */
    padding:30px 60px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}


footer div{
    color: white ;
    padding: 20px 60px;
    text-align: right;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 500;
    font-size: 2rem;
    /* border-left: 4px solid whitesmoke; */
}

.footer-list{
    border-left: .5rem solid whitesmoke;
    bored    
}   

.footer-list ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    line-height-step: 20px;
    margin-top: 9px;
    /* align-items: center; */
}
li + li{
    margin-top: 1rem;
}

.footer-list a{
    color: white;
}

.footer-list a:hover{
    color:white
}

/* .blue-box{
    background-image:linear-gradient(90deg, #686a6e, #2e3239);
    width: auto;
    border-radius: 0px 0px 50px 50px;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    padding-top: 0px;
    height: 300px;
} */


@media screen and (max-width: 600px) {
    #nav-bar{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .caption-text{
        display: none;
    }

    #get-started{
        margin-top: 80px;
    }

    #caption-text-responsive{
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 1.25rem;
    }

    .product-features{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


    .card-icon:hover{
        display: none;
    }

    .card-icon{
        animation: rotation 4s infinite linear;
        text-shadow: 2px 2px 2px rgba(100, 100, 111, 0.5);
    }

    footer{
        grid-template-columns: none;
        grid-template-rows: 2fr 1fr 2fr;
        width: auto;
    }

    .footer-text{
        padding: 10px;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    footer div{
        text-align: center;
        padding-bottom: 0px;
    }

    .footer-list{
        border-left: 1rem solid whitesmoke;
    }

    @keyframes rotation{
        from{
            transform: rotate3d(0,1,0,0deg);
        }
        to{
            transform: rotate3d(0,1,0,360deg);
        }
    }
  }
